@import url('https://fonts.googleapis.com/css2?family=Caprasimo&display=swap');

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family:  'Caprasimo', serif;
}

img{
    width: 45%;
}

nav {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    background-color: rgb(12, 14, 17);
    height: 90px;
  }
  
  .content {
    max-width: var(--max-width);
    margin: auto;
    padding: 1.5rem 1rem;
    display: flex;
    justify-content: space-between;
  }
  
  nav a {
    font-size: 30px;
    font-weight: 30;
    color: rgba(189, 137, 7, 0.808);
    transition: 0.3s;
  }
  nav .logo a:hover {
    color: rgb(219, 162, 39);
  }

  nav .checkbox {
    display: none;
  }
  
  nav input {
    display: none;
  }
  nav .checkbox i {
    font-size: 2rem;
    color: black;
    cursor: pointer;
  }
  
  .nav-list {
    display: flex;
    gap: 1rem;
    list-style: none;
    transition: left 0.3s;
  }
  
  .nav-list li a {
    padding: 0.5rem 1rem;
    border: 2px solid transparent;
    text-decoration: none;
    font-weight: 30;
    font-size: 30px;
    color:rgb(138, 65, 5);
    transition: 0.3s;
  }
  
  .nav-list li a:hover {
    border-bottom-color:rgba(189, 137, 7, 0.808);
    color:rgb(201, 23, 23);
  }

  .section1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(to bottom right, rgba(73, 68, 68, 0.6), rgba(65, 61, 64, 0.6)), 
    url("images/One-Piece-Straw-Hat-Pirates-Mysteries.avif");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* Second-page Contents*/

#section-2 {
    padding: 0;
    margin-top: 0px;
    font-family: 'Caprasimo', serif;
    color: rgb(138, 65, 5);
    background-color: black;
  }

 .row {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    overflow: hidden;
    padding: 5rem 0;
 }

 .row .image_wrapper {
    overflow: hidden;
    place-items: center;
    display: grid;
 }

 .row .image_wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s;
    width: min(25rem, 90%);
    border-radius: 0%;
    align-items: center;
 }

 .row .image_wrapper:hover img {
    transform: scale(1.25);
 }

 .row .content_wrapper {
    width: 90%;
    display: flex;
    justify-content: center;
    padding-left: 30px;
 }

 /* Monkey D. Luffy */

 .section-luffy {
  background-color: black;
  color: rgb(138, 65, 5);
  margin-top: 0;
}

.section-luffy-container {
  min-height: 100vh;
  max-width: var(--max-width);
  margin: auto;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
}

.content-luffy {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.subtitle {
  letter-spacing: 2px;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.title {
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 3rem;
  margin-bottom: 1rem;
}

.title span {
  font-weight: 600;
}

.description-luffy {
  line-height: 1.5rem;
  margin-bottom: 2rem;
}

.profile-image-luffy {
    display: grid;
    place-items: center;
  }
  
  .profile-image-luffy img {
    width: min(25rem, 90%);
    border-radius: 0%;
  }

  /*Roronoa Zoro*/
  .zoro {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    overflow: hidden;
    padding: 5rem 0;
    background-color: black;
    color: rgb(138, 65, 5);
    margin-top: 0;
 }

 .zoro .image-wrapper-zoro {
    overflow: hidden;
    place-items: center;
    display: grid;
 }

 .zoro .image-wrapper-zoro img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s;
    width: min(25rem, 90%);
    border-radius: 0%;
    align-items: center;
 }

 .zoro .content-wrapper-zoro {
    width: 90%;
    display: flex;
    justify-content: center;
    padding-left: 30px;
 }

 /*NAMI*/
 .section-nami {
  background-color: black;
  color: rgb(138, 65, 5);
  margin-top: 0;
}

.section-nami-container {
  min-height: 100vh;
  max-width: var(--max-width);
  margin: auto;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
}

.content-nami {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.subtitle-nami {
  letter-spacing: 2px;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.title-nami {
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 3rem;
  margin-bottom: 1rem;
}

.title-nami span {
  font-weight: 600;
}

.description-nami {
  line-height: 1.5rem;
  margin-bottom: 2rem;
}

.profile-image-nami {
    display: grid;
    place-items: center;
  }
  
  .profile-image-nami img {
    width: min(25rem, 90%);
    border-radius: 0%;
  }

  /*Usopp*/
  .usopp {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    overflow: hidden;
    padding: 5rem 0;
    background-color: black;
    color: rgb(138, 65, 5);
    margin-top: 0;
 }

 .usopp .image-wrapper-usopp {
    overflow: hidden;
    place-items: center;
    display: grid;
 }

 .usopp .image-wrapper-usopp img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s;
    width: min(25rem, 90%);
    border-radius: 0%;
    align-items: center;
 }

 .usopp .content-wrapper-usopp {
    width: 90%;
    display: flex;
    justify-content: center;
    padding-left: 30px;
 }

 /*SANJI*/
 .section-sanji {
  background-color: black;
  color: rgb(138, 65, 5);
  margin-top: 0;
}

.section-sanji-container {
  min-height: 100vh;
  max-width: var(--max-width);
  margin: auto;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
}

.content-sanji {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.subtitle-sanji {
  letter-spacing: 2px;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.title-sanji {
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 3rem;
  margin-bottom: 1rem;
}

.title-sanji span {
  font-weight: 600;
}

.description-sanji {
  line-height: 1.5rem;
  margin-bottom: 2rem;
}

.profile-image-sanji {
    display: grid;
    place-items: center;
  }
  
  .profile-image-sanji img {
    width: min(25rem, 90%);
    border-radius: 0%;
  }

  /*Chopper*/
  .chopper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    overflow: hidden;
    padding: 5rem 0;
    background-color: black;
    color: rgb(138, 65, 5);
    margin-top: 0;
 }

 .chopper .image-wrapper-chopper {
    overflow: hidden;
    place-items: center;
    display: grid;
 }

 .chopper .image-wrapper-chopper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s;
    width: min(25rem, 90%);
    border-radius: 0%;
    align-items: center;
 }

 .chopper .content-wrapper-chopper {
    width: 90%;
    display: flex;
    justify-content: center;
    padding-left: 30px;
 }

 /*ROBIN*/
 .section-robin-container {
  background-color: black;
  color: rgb(138, 65, 5);
  margin-top: 0;
}

.section-robin-container {
  min-height: 100vh;
  max-width: var(--max-width);
  margin: auto;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
}

.content-robin {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.subtitle-robin {
  letter-spacing: 2px;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.title-robin {
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 3rem;
  margin-bottom: 1rem;
}

.title-robin span {
  font-weight: 600;
}

.description-robin {
  line-height: 1.5rem;
  margin-bottom: 2rem;
}

.profile-image-robin {
    display: grid;
    place-items: center;
  }
  
  .profile-image-robin img {
    width: min(25rem, 90%);
    border-radius: 0%;
  }

  /*Franky*/
  .franky {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    overflow: hidden;
    padding: 5rem 0;
    background-color: black;
    color: rgb(138, 65, 5);
    margin-top: 0;
 }

 .franky .image-wrapper-franky {
    overflow: hidden;
    place-items: center;
    display: grid;
 }

 .franky .image-wrapper-franky img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s;
    width: min(25rem, 90%);
    border-radius: 0%;
    align-items: center;
 }

 .franky .content-wrapper-franky {
    width: 90%;
    display: flex;
    justify-content: center;
    padding-left: 30px;
 }

 /*Brook*/
 .section-brook-container {
  background-color: black;
  color: rgb(138, 65, 5);
  margin-top: 0;
}

.section-brook-container {
  min-height: 100vh;
  max-width: var(--max-width);
  margin: auto;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
}

.content-robin {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.subtitle-brook {
  letter-spacing: 2px;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.title-brook {
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 3rem;
  margin-bottom: 1rem;
}

.title-brook span {
  font-weight: 600;
}

.description-brook {
  line-height: 1.5rem;
  margin-bottom: 2rem;
}

.profile-image-brook {
    display: grid;
    place-items: center;
  }
  
  .profile-image-brook img {
    width: min(25rem, 90%);
    border-radius: 0%;
  }

  /*Jimbei*/
  .jimbei {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    overflow: hidden;
    padding: 5rem 0;
    background-color: black;
    color: rgb(138, 65, 5);
    margin-top: 0;
 }

 .jimbei .image-wrapper-jimbei {
    overflow: hidden;
    place-items: center;
    display: grid;
 }

 .jimbei .image-wrapper-jimbei img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s;
    width: min(25rem, 90%);
    border-radius: 0%;
    align-items: center;
 }

 .jimbei .content-wrapper-jimbei {
    width: 90%;
    display: flex;
    justify-content: center;
    padding-left: 30px;
 }







/* Media Queries, Responsivness*/
@media (width < 1250px) {
    /* Nav Area */
    nav .checkbox {
        display: block;
      }

      nav {
        background-color:rgb(119, 5, 5);
      }
    
      ul {
        position: absolute;
        width: 100%;
        height: calc(100vh - 85px);
        left: -200%;
        top: 85px;
        background-color: rgb(0, 0, 0);
        flex-direction: column;
        justify-content: center;
        gap: 3rem;
      }
    
      nav #check:checked ~ ul {
        left: 0;
      }
    
      .nav-list li a {
        font-size: 1.25rem;
      }
}

@media (width < 881px) {
    .row {
        grid-template-columns: 1fr;
        gap: 50px;
    }

    .row .content_wrapper {
        padding-left: 30px;
    }

    .image_wrapper {
        grid-area: 1/1/2/2;
    }

    /*LUFFY*/
    .section-luffy-container {
      padding: 10rem 1rem 5rem 1rem;
      text-align: center;
      grid-template-columns: repeat(1, 1fr);
    }
  
    .profile-image-luffy {
      grid-area: 1/1/2/2;
    }

    .row {
        grid-template-columns: 1fr;
        gap: 50px;
    }

    .row .content-wrapper-luffy {
        padding-left: 30px;
    }

    .image-wrapper-luffy {
        grid-area: 1/1/2/2;
    }
    /*ZORO*/
    .zoro {
      grid-template-columns: 1fr;
      gap: 50px;
  }

  .zoro .content-wrapper-zoro {
      padding-left: 30px;
  }

  .image-wrapper-zoro {
      grid-area: 1/1/2/2;
  }
  /*NAMI*/
  .section-nami-container {
    padding: 10rem 1rem 5rem 1rem;
    text-align: center;
    grid-template-columns: repeat(1, 1fr);
  }

  .profile-image-nami {
    grid-area: 1/1/2/2;
  }

  .row {
      grid-template-columns: 1fr;
      gap: 50px;
  }

  .row .content-wrapper-nami {
      padding-left: 30px;
  }

  .image-wrapper-nami {
      grid-area: 1/1/2/2;
  }
  /*USOPP*/
  .usopp {
    grid-template-columns: 1fr;
    gap: 50px;
}

.usopp .content-wrapper-usopp {
    padding-left: 30px;
}

.image-wrapper-usopp {
    grid-area: 1/1/2/2;
}
/*SANJI*/
.section-sanji-container {
  padding: 10rem 1rem 5rem 1rem;
  text-align: center;
  grid-template-columns: repeat(1, 1fr);
}

.profile-image-sanji {
  grid-area: 1/1/2/2;
}

.row {
    grid-template-columns: 1fr;
    gap: 50px;
}

.row .content-wrapper-sanji {
    padding-left: 30px;
}

.image-wrapper-sanji {
    grid-area: 1/1/2/2;
}
/*CHOPPER*/
.chopper {
  grid-template-columns: 1fr;
  gap: 50px;
}

.chopper .content-wrapper-chopper {
  padding-left: 30px;
}

.image-wrapper-chopper {
  grid-area: 1/1/2/2;
}
/*ROBIN*/
.section-robin-container {
  padding: 10rem 1rem 5rem 1rem;
  text-align: center;
  grid-template-columns: repeat(1, 1fr);
}

.profile-image-robin {
  grid-area: 1/1/2/2;
}

.row {
    grid-template-columns: 1fr;
    gap: 50px;
}

.row .content-wrapper-robin {
    padding-left: 30px;
}

.image-wrapper-robin {
    grid-area: 1/1/2/2;
}
/*FRANKY*/
.franky {
  grid-template-columns: 1fr;
  gap: 50px;
}

.franky .content-wrapper-franky {
  padding-left: 30px;
}

.image-wrapper-franky {
  grid-area: 1/1/2/2;
}
/*BROOK*/
.section-brook-container {
  padding: 10rem 1rem 5rem 1rem;
  text-align: center;
  grid-template-columns: repeat(1, 1fr);
}

.profile-image-brook {
  grid-area: 1/1/2/2;
}

.row {
    grid-template-columns: 1fr;
    gap: 50px;
}

.row .content-wrapper-brook {
    padding-left: 30px;
}

.image-wrapper-brook {
    grid-area: 1/1/2/2;
}
/*JIMBEI*/
.jimbei {
  grid-template-columns: 1fr;
  gap: 50px;
}

.jimbei .content-wrapper-jimbei {
  padding-left: 30px;
}

.image-wrapper-jimbei {
  grid-area: 1/1/2/2;
}
}